<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>co.pisano.feedback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pisano</string>
			</array>
		</dict>
	</array>
	<key>PISANO_ACCESS_KEY</key>
	<string></string>
	<key>PISANO_API_URL</key>
	<string>https://api.pisano.co</string>
	<key>PISANO_APP_ID</key>
	<string></string>
	<key>PISANO_CODE</key>
	<string></string>
	<key>PISANO_EVENT_URL</key>
	<string></string>
	<key>PISANO_FEEDBACK_URL</key>
	<string>https://web.pisano.co/web_feedback</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
